{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>
    PlasticRecycling
</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'static/home.css' %}">
</head>
<body>
    {% if user.is_authenticated %}
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a  href="{% url 'login' %}">Login</a>
    {% endif %}
   
  <h1 class="heading">Why Plastic Recycling is Important??</h1>
 <div>
    <p>
        According to an article by swachindia.ndtv,More than eight million tonnes of plastic goes into the oceans every year. 
        According to figures cited by United Nations, there will be more plastic than fish in the world’s oceans by 2050
        unless people stop littering the seas with single-use plastic items such as plastic bottles and bags. 
        The floating plastic debris (microplastics) has already started wreaking havoc on the marine ecosystem.
        Scientists have observed that marine life mistakenly consume plastic debris because the tiny bits of floating plastic (balloons, plastic bags) resemble their prey (jellyfish).
        The plastic waste becomes dangerous for marine animals when they accidently ingest it while feeding or get entangled in it.
        If ingested, the plastic items can block their digestive tracts, leading to starvation and death.
        Hundreds of marine turtles die every year after feeding on plastic or getting tangled in discarded plastic trash and lost fishing gear
        (also called ‘ghost gear’ which passively drifts over large distances, sometimes randomly ‘fishing’ marine organisms which may also look
        harmless like seaweed to turtles), a new study published in the Endangered Species Research said.
    </p>
    <p>
        So we have made this project to help recycling of plastic in an easier way where users can buy plastic
        and sell plastic in this website by posting the available plastic items like used bottles,covers,buckets and mugs.
    </p>




 </div>
 

</body>
</html>